
header{
    background-color: black;
    width: 100%;
    padding: 25px 100px;   
}

ul{
    color: black;
    padding:0;
    margin: 0;
    display: flex;
    justify-content:right;
    z-index: 100;
}
a:hover{
    text-decoration: underline;
    color: #ffa446;
}

header ul il a{
    font-size: 1em;
    color: #fff;
    margin-left: 60px;
    font-weight: 500;
    text-decoration: none;
}

#Home{
    background-image: url("../Links/Homepagina.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50%;
    
}

img{
    max-width: 100%;
}

p{
    font-weight: 100;
    margin-bottom: 2em;
}

h2{
font-weight: bolder;
color: #ffa446;
font-size: 4em;
}

h1{
    font-weight: bolder;
    font-size: 3em;
    color: #ffa446;
    text-align: center;
    margin: 1em;
    }

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}


.flex-container{
display: flex;
align-items: center;
}

.flex-box{
width: 50em;
align-items: center;
}

.tekstlinks{
    width: 50em;
    margin-left: 10em;
    margin-right: 5em;

}
.tekstrechts{
width: 50em;
    margin-right: 10em;
    margin-left: 5em;
}

.blok1{
     display: flex;
     align-items: center;
    background-color: rgb(255, 226, 159);
      }

.fotorechts{
        float: right;
    }
 section{
    margin-bottom: 2em;
 }


.rijen{
    margin: 1em;
    width: 40em;
}


.blok1 img{
   width: 35em; 
}

.flex-box img{
    width: 35em;
}

.inleiding{
margin: 0px 90px 60px;
}


.button{
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-bottom: 2em;
    color:black;
    border: 2px solid #e19447;
    background-color: #e19447;
    border-radius: 3em;
    box-shadow: 0 0.4em 1em -0.5em #000;
  }

  .button:hover {
    background-color: #ffa446;
    border: 2px solid #ffa446;
    color: black;
    text-decoration: none;
    box-shadow: 0 0.7em 1em -0.5em #000;
  }